body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background:linear-gradient(#fff 65%,#8d8b8b);
}

header {
    background-color: #3b141c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
}
header i{
    color: #fff;

}

header .logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #fff;
    margin: 0;
}
header nav{
    margin-right: 20px;
}
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: #fff;
    margin: 0 15px;
    padding: 10px 15px; 
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;}

header nav ul li a:hover {
    background-color: #f3961c;
    color: #3b141c;
    padding: 8px 13px;
}
/* ===== HAMBURGUESA ===== */
#menu-toggle {
    display: none;
}

.menu-icon{
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}
.inicio {
    min-height: 100vh;
    padding-top: 120px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-sizing: border-box;
    gap: 40px;
}
.titulo-container {
    text-align: center;
}
.inicio .contacto {
    flex: 1;
    max-width: 500px;
    color: #000;  /* o el color que quieras */
}
.contacto-form-container {
    display: flex;
    flex-direction: row;   /* contacto y formulario en fila */
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
}

.inicio .titulo{
    text-align: center;
}
.inicio .linea {
    width: 200px;
    height: 10px;
    background-color: #f3961c;
    margin:-20px auto 40px;
    border-radius: 50px;
}

p{
    text-align: left;
    margin-top: 10px;
    color: rgba(128, 128, 128, 0.911);
}
.formulario {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.formulario input,
.formulario textarea,
.formulario button {
    display: block;
    width: 400px;
    height: auto;
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #3b141c;
    border-radius: 10px;
}

.formulario button {
    background-color:  #3b141c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.formulario button:hover {
    background-color: #8d8b8b;
    transform: translateY(-3px);
}
@media (max-width: 991px){
    .inicio .contacto-form-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* centra horizontalmente */
        justify-content: center;
        gap: 30px;
        text-align: center; /* centra el texto también */
    }
    .titulo-container {
        margin-top: -50px;
    }
    .titulo
    .contacto, 
    .formulario {
        max-width: 90%;   /* que no ocupe todo el ancho */
        width: 100%;
    }

    .formulario input,
    .formulario textarea,
    .formulario button {
        max-width: 90%;
        width:100%; 
         /* que se adapten al ancho disponible */
    }
    .formulario button {
    display: block;
    margin: 0 auto; /* lo centra horizontalmente */
}

}


@media (max-width: 768px){
    /* Mostrar ícono hamburguesa */
    .menu-icon{
        display: block;
        
    }
    

    /* Nav oculto por defecto */
    header nav {
        position: absolute;
        top: 40px;
        right: 20px;
        background: rgba(0, 0, 0, 0.558);
        width: 220px;
        padding: 15px 0;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .menu-icon{
        margin-right: 20px;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    /* Mostrar menú cuando se active el toggle */
    #menu-toggle:checked ~ .nav {
        display: flex;

    }

}

